Automation Workflow/workflows/Latest workflow used/n8n-premium-v4-enhanced-errors1.json
{
    "name": "Playwright - FULL SUITE PREMIUM V4 (Enhanced Errors)",
    "nodes": [
        {
            "parameters": {},
            "id": "manual_trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const SELECTED_PRODUCT = 'ERP';\nconst products = {\n  'ERP': { product: 'ERP', folder: 'ERP' },\n  'Camp': { product: 'Camp', folder: 'CampAccomodation' }\n};\nreturn [{ json: products[SELECTED_PRODUCT] }];"
            },
            "id": "select_product",
            "name": "Select Product",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst items = $input.all();\nconst folder = items[0].json.folder;\nconst basePath = 'C:/Users/veeramani/desktop/playwright-mcp/tests';\nconst fullPath = `${basePath}/${folder}`;\n\n// ⚡ ROOT CLEANUP: Clear all temp results AND locks before start\nconst resultsDir = 'c:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\nif (fs.existsSync(resultsDir)) {\n  fs.readdirSync(resultsDir).forEach(f => { \n    try { fs.unlinkSync(path.join(resultsDir, f)); } catch(e){} \n  });\n} else {\n  fs.mkdirSync(resultsDir, { recursive: true });\n}\n\nconst allFiles = fs.readdirSync(fullPath).filter(file => file.endsWith('.spec.js'));\nreturn allFiles.map(file => ({ \n  json: { ...items[0].json, filename: file, testPath: `tests/${folder}/${file}` } \n}));"
            },
            "id": "find_files",
            "name": "Find Product Test Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1
            },
            "id": "test_loop",
            "name": "Test Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const { execSync } = require('child_process');\nconst item = $input.item.json;\nconst cwd = 'c:/Users/veeramani/desktop/playwright-mcp';\nconst cmd = `npx playwright test \"${item.testPath}\" --reporter=json`;\n\nconst startTime = new Date();\nlet stdout = '', stderr = '', exitCode = 0;\ntry {\n  stdout = execSync(cmd, { cwd, stdio: 'pipe', timeout: 600000 }).toString();\n} catch (e) {\n  exitCode = e.status || 1;\n  stdout = (e.stdout || '').toString();\n  stderr = (e.stderr || e.message || '').toString();\n}\n\nconst duration = ((new Date() - startTime) / 1000).toFixed(2);\nlet testCases = [];\nlet stats = { total: 0, passed: 0, failed: 0 };\nlet reportSummary = '';\n\ntry {\n  const jsonMatch = stdout.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonData = JSON.parse(jsonMatch[0]);\n    if (jsonData.stats) {\n      stats.passed = jsonData.stats.expected || 0;\n      stats.failed = jsonData.stats.unexpected || 0;\n      stats.total = stats.passed + stats.failed + (jsonData.stats.skipped || 0);\n    }\n    if (jsonData.suites) {\n      jsonData.suites.forEach(suite => {\n        (suite.specs || []).forEach(spec => {\n          spec.tests.forEach(test => {\n            const res = test.results && test.results[0];\n            const status = res ? res.status : 'failed';\n            testCases.push({ title: spec.title || 'Test', status: status, file: item.filename });\n          });\n        });\n      });\n    }\n  }\n} catch (e) {}\n\nif (testCases.length === 0) {\n    const status = exitCode === 0 ? 'passed' : 'failed';\n    testCases.push({ title: 'Standard Execution', status: status, file: item.filename });\n    stats.total = 1;\n    if (status === 'passed') stats.passed = 1; else stats.failed = 1;\n}\n\nreportSummary = testCases.map(tc => `${tc.status === 'passed' ? '✅' : '❌'} ${tc.title}`).join('\\n');\n\nreturn {\n  json: { ...item, exitCode, status: exitCode === 0 ? 'passed' : 'failed', duration: `${duration}s`, stats, testCases, reportSummary }\n};"
            },
            "id": "run_test",
            "name": "Run Playwright Test",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.googleapis.com/v1/spaces/AAQA7T2tWaY/messages?key=[REDACTED_GEMINI_KEY]&token=C0TOQS1FN_tbUfIeUHwat0Zwa9UXylCX97CKTIO4PKI",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ '🎯 *Product:* ' + $json.product + '\\n🧪 *Test File:* ' + $json.filename + '\\n*Status:* ' + ($json.status === 'passed' ? '✅ PASSED' : '❌ FAILED') + '\\n*Stats:* ' + $json.stats.passed + '/' + $json.stats.total + ' passed\\n*Duration:* ' + $json.duration + '\\n\\n*Test Cases:*\\n' + $json.reportSummary }}"
                        }
                    ]
                }
            },
            "id": "chat_notif",
            "name": "Google Chat Notification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1150,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst testData = $('Run Playwright Test').item.json;\nconst resultsDir = 'c:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\nconst resultFile = path.join(resultsDir, `test_${Date.now()}_${testData.filename}.json`);\nfs.writeFileSync(resultFile, JSON.stringify(testData, null, 2));\nreturn [{ json: testData }];"
            },
            "id": "save_result",
            "name": "Save Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.exitCode !== 0 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if_failed",
            "name": "If Failed",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1550,
                200
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "email": "veeramani.b@algosium.com",
                "subject": "={{ '🚨 Failed: ' + $json.filename }}",
                "message": "={{ 'Test failure: ' + $json.filename + '\\nStats: ' + $json.stats.passed + '/' + $json.stats.total + ' passed' }}"
            },
            "id": "gmail_alert",
            "name": "Gmail Alert",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1750,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst resultsDir = 'C:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\n\nconst lockFile = path.join(resultsDir, 'summary.lock');\nif (fs.existsSync(lockFile)) return []; \nfs.writeFileSync(lockFile, 'locked');\n\nconst files = fs.readdirSync(resultsDir).filter(f => f.startsWith('test_') && f.endsWith('.json'));\nlet totalScripts = files.length, totalCases = 0, passedCases = 0, product = 'ERP';\nlet allTestCases = [];\n\nfiles.forEach(f => {\n  const data = JSON.parse(fs.readFileSync(path.join(resultsDir, f)));\n  product = data.product || product;\n  if (data.testCases) {\n    data.testCases.forEach(tc => {\n      allTestCases.push({ ...tc, file: data.filename });\n      totalCases++;\n      if (tc.status === 'passed') passedCases++;\n    });\n  }\n});\n\nconst successRate = totalCases > 0 ? ((passedCases / totalCases) * 100).toFixed(2) : 0;\nconst chatDetails = allTestCases.map(tc => `${tc.status === 'passed' ? '✅' : '❌'} ${tc.title}`).join('\\n');\n\nreturn [{ json: { product, totalScripts, totalCases, passedCases, failedCases: totalCases - passedCases, successRate, allTestCases, chatDetails, timestamp: new Date().toLocaleString('en-GB') } }];"
            },
            "id": "gen_summary",
            "name": "Generate Summary Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.googleapis.com/v1/spaces/AAQA7T2tWaY/messages?key=[REDACTED_GEMINI_KEY]&token=C0TOQS1FN_tbUfIeUHwat0Zwa9UXylCX97CKTIO4PKI",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ '📊 *' + $json.product + ' Suite Final Summary*\\n\\n🏁 *Total Files:* ' + $json.totalScripts + '\\n✅ *Passed:* ' + $json.passedCases + '\\n❌ *Failed:* ' + $json.failedCases + '\\n📈 *Success Rate:* ' + $json.successRate + '%\\n\\n*Detailed Status:*\\n' + $json.chatDetails }}"
                        }
                    ]
                }
            },
            "id": "chat_summary",
            "name": "Google Chat Summary Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1150,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.item.json;\nconst tableRows = data.allTestCases.map(tc => {\n  const status = (tc.status || '').toLowerCase();\n  const isPassed = status === 'passed';\n  const label = isPassed ? 'PASSED' : 'FAILED';\n  const color = isPassed ? '#27ae60' : '#e74c3c';\n  return `<tr><td style=\"padding:12px;border-bottom:1px solid #eee;\">${tc.title}</td><td style=\"padding:12px;border-bottom:1px solid #eee;color:#666;\">${tc.file || tc.filename || 'N/A'}</td><td style=\"padding:12px;border-bottom:1px solid #eee;color:${color};font-weight:bold;\">${label}</td></tr>`;\n}).join('');\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:850px;margin:auto;border:1px solid #eee;border-radius:12px;overflow:hidden;box-shadow:0 5px 15px rgba(0,0,0,0.05);\">\n  <div style=\"background:#34495e;color:white;padding:30px;text-align:center;\">\n    <h2 style=\"margin:0;font-size:24px;letter-spacing:1px;\">\ud83d\ude80 ${data.product} Automation Summary</h2>\n    <p style=\"margin:10px 0 0;opacity:0.8;font-size:14px;\">Enhanced Error Tracking Suite</p>\n  </div>\n\n  <div style=\"background:#fcfcfc;padding:25px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"10\" border=\"0\">\n      <tr>\n        <td width=\"25%\" align=\"center\" style=\"background:#3498db;color:white;padding:20px;border-radius:10px;box-shadow:0 3px 6px rgba(0,0,0,0.1);\">\n          <div style=\"font-size:12px;text-transform:uppercase;opacity:0.9;margin-bottom:5px;font-weight:bold;\">Files</div>\n          <div style=\"font-size:24px;font-weight:bold;\">${data.totalScripts}</div>\n        </td>\n        <td width=\"25%\" align=\"center\" style=\"background:#27ae60;color:white;padding:20px;border-radius:10px;box-shadow:0 3px 6px rgba(0,0,0,0.1);\">\n          <div style=\"font-size:12px;text-transform:uppercase;opacity:0.9;margin-bottom:5px;font-weight:bold;\">Passed</div>\n          <div style=\"font-size:24px;font-weight:bold;\">${data.passedCases}</div>\n        </td>\n        <td width=\"25%\" align=\"center\" style=\"background:#e74c3c;color:white;padding:20px;border-radius:10px;box-shadow:0 3px 6px rgba(0,0,0,0.1);\">\n          <div style=\"font-size:12px;text-transform:uppercase;opacity:0.9;margin-bottom:5px;font-weight:bold;\">Failed</div>\n          <div style=\"font-size:24px;font-weight:bold;\">${data.failedCases}</div>\n        </td>\n        <td width=\"25%\" align=\"center\" style=\"background:#f39c12;color:white;padding:20px;border-radius:10px;box-shadow:0 3px 6px rgba(0,0,0,0.1);\">\n          <div style=\"font-size:12px;text-transform:uppercase;opacity:0.9;margin-bottom:5px;font-weight:bold;\">Success</div>\n          <div style=\"font-size:24px;font-weight:bold;\">${data.successRate}%</div>\n        </td>\n      </tr>\n    </table>\n  </div>\n\n  <div style=\"padding:30px;background:white;\">\n    <h3 style=\"margin-top:0;color:#2c3e50;border-bottom:2px solid #34495e;padding-bottom:10px;display:inline-block;\">Detailed Report</h3>\n    <table style=\"width:100%;border-collapse:collapse;margin-top:15px;\">\n      <thead>\n        <tr style=\"background:#f8f9fa;text-align:left;color:#333;\">\n          <th style=\"padding:15px;border-bottom:2px solid #dee2e6;\">Test Title</th>\n          <th style=\"padding:15px;border-bottom:2px solid #dee2e6;\">Source File</th>\n          <th style=\"padding:15px;border-bottom:2px solid #dee2e6;\">Status</th>\n        </tr>\n      </thead>\n      <tbody>${tableRows}</tbody>\n    </table>\n    <div style=\"text-align:center;color:#95a5a6;font-size:12px;margin-top:30px;padding-top:20px;border-top:1px solid #eee;\">\n      Generated by QAutoX Automation Engine on ${data.timestamp}\n    </div>\n  </div>\n</div>`;\n\nreturn { json: { ...data, summaryHtml: html } };"
            },
            "id": "write_html",
            "name": "Write HTML Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1150,
                600
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "email": "veeramani.b@algosium.com",
                "subject": "={{ '📊 ' + $json.product + ' Automation Summary' }}",
                "emailType": "html",
                "message": "={{ $json.summaryHtml }}"
            },
            "id": "gmail_summary",
            "name": "Gmail Summary Report",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1350,
                600
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Select Product",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Product": {
            "main": [
                [
                    {
                        "node": "Find Product Test Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Product Test Files": {
            "main": [
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Test Loop": {
            "main": [
                [
                    {
                        "node": "Run Playwright Test",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Generate Summary Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Playwright Test": {
            "main": [
                [
                    {
                        "node": "Google Chat Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Chat Notification": {
            "main": [
                [
                    {
                        "node": "Save Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Result": {
            "main": [
                [
                    {
                        "node": "If Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Failed": {
            "main": [
                [
                    {
                        "node": "Gmail Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Alert": {
            "main": [
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Summary Report": {
            "main": [
                [
                    {
                        "node": "Google Chat Summary Report",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Write HTML Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Write HTML Report": {
            "main": [
                [
                    {
                        "node": "Gmail Summary Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}