Automation Workflow/workflows/n8n-full-erp-suite-premium-v3.json
{
    "name": "Playwright - FULL SUITE PREMIUM (21 Scripts)",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst resultsDir = 'C:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\nconst lockFile = path.join(resultsDir, 'summary.lock');\n\n// CLEANUP AT START\nif (fs.existsSync(resultsDir)) {\n  const files = fs.readdirSync(resultsDir).filter(f => f.endsWith('.json'));\n  for (const file of files) { try { fs.unlinkSync(path.join(resultsDir, file)); } catch (e) {} }\n  if (fs.existsSync(lockFile)) fs.unlinkSync(lockFile);\n} else {\n  fs.mkdirSync(resultsDir, { recursive: true });\n}\n\nreturn [{ json: { product: 'ERP', folder: 'ERP' } }];"
            },
            "id": "product_selector",
            "name": "Select Product",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst items = $input.all();\nconst folder = items[0].json.folder;\nconst basePath = 'C:/Users/veeramani/desktop/playwright-mcp/tests';\nconst fullPath = `${basePath}/${folder}`;\n\n// 🚀 FULL RUN: No slice limit, runs all 21+ files\nconst allFiles = fs.readdirSync(fullPath).filter(file => file.endsWith('.spec.js'));\n\nreturn allFiles.map(file => ({ \n  json: { ...items[0].json, filename: file, testPath: `tests/${folder}/${file}` } \n}));"
            },
            "id": "find_tests",
            "name": "Find Product Test Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1
            },
            "id": "test_loop",
            "name": "Test Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const { execSync } = require('child_process');\nconst item = $input.item.json;\n\nconst product = item.product;\nconst filename = item.filename;\nconst testPath = item.testPath;\nconst cmd = `npx playwright test \"${testPath}\" --reporter=json`;\nconst cwd = 'C:/Users/veeramani/desktop/playwright-mcp';\n\nconst startTime = new Date();\nlet stdout = '';\nlet stderr = '';\nlet exitCode = 0;\n\ntry {\n  stdout = execSync(cmd, { cwd, stdio: 'pipe', timeout: 300000 }).toString();\n} catch (e) {\n  exitCode = e.status || 1;\n  stdout = (e.stdout || '').toString();\n  stderr = (e.stderr || e.message || '').toString();\n}\n\nconst endTime = new Date();\nconst duration = ((endTime - startTime) / 1000).toFixed(2);\n\nlet testCases = [];\nlet stats = { total: 0, passed: 0, failed: 0, skipped: 0 };\nlet reportSummary = '';\n\ntry {\n  const jsonMatch = stdout.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonData = JSON.parse(jsonMatch[0]);\n    if (jsonData.stats) {\n      stats.passed = jsonData.stats.expected || 0;\n      stats.failed = jsonData.stats.unexpected || 0;\n      stats.skipped = jsonData.stats.skipped || 0;\n      stats.total = stats.passed + stats.failed + stats.skipped;\n    }\n    \n    if (jsonData.suites) {\n      jsonData.suites.forEach(suite => {\n        if (suite.specs) {\n          suite.specs.forEach(spec => {\n            spec.tests.forEach(test => {\n              const result = test.results && test.results[0];\n              testCases.push({\n                title: spec.title || 'Untitled Test',\n                status: result ? result.status : 'unknown',\n                duration: result ? result.duration : 0\n              });\n            });\n          });\n        }\n      });\n    }\n    reportSummary = testCases.map(tc => `${tc.status === 'passed' ? '✅' : '❌'} ${tc.title}`).join('\\n');\n  }\n} catch (e) {\n  reportSummary = exitCode === 0 ? '✅ All tests passed' : '❌ Test execution failed';\n}\n\nreturn {\n  json: {\n    ...item,\n    exitCode: exitCode,\n    stdout: (stdout || '').substring(0, 1000),\n    stderr: (stderr || '').substring(0, 1000),\n    status: exitCode === 0 ? 'passed' : 'failed',\n    duration: `${duration}s`,\n    timestamp: new Date().toISOString(),\n    testCases: testCases,\n    stats: stats,\n    reportSummary: reportSummary\n  }\n};"
            },
            "id": "run_test",
            "name": "Run Playwright Test",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.googleapis.com/v1/spaces/AAQA7T2tWaY/messages?key=[REDACTED_GEMINI_KEY]&token=C0TOQS1FN_tbUfIeUHwat0Zwa9UXylCX97CKTIO4PKI",
                "sendBody": true,
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ '🎯 *Product:* ' + $json.product + '\\n' + '🧪 *Test File:* `' + $json.filename + '`\\n' + '*Status:* ' + ($json.status === 'passed' ? '✅ PASSED' : '❌ FAILED') + '\\n' + '*Stats:* ' + ($json.stats.passed || 0) + '/' + ($json.stats.total || 0) + ' passed\\n' + '*Duration:* ' + ($json.duration || 'N/A') + '\\n\\n' + '*Test Cases:*\\n' + ($json.reportSummary || 'See full report for details') }}"
                        }
                    ]
                }
            },
            "id": "chat_notify",
            "name": "Google Chat Notification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst testData = $node[\"Run Playwright Test\"].json;\nconst resultsDir = 'C:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\n\nconst timestamp = Date.now();\nconst filename = `test_${timestamp}_${testData.filename}.json`;\nfs.writeFileSync(path.join(resultsDir, filename), JSON.stringify(testData, null, 2));\n\nreturn { json: testData };"
            },
            "id": "save_result",
            "name": "Save Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1450,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.status === 'failed' }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if_failed",
            "name": "If Failed",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1700,
                200
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "email": "veeramani.b@algosium.com",
                "subject": "={{ '🚨 ERP Test Failed: ' + $json.filename }}",
                "emailType": "html",
                "message": "={{ '<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: #ffffff;\"> <div style=\"padding: 24px;\"> <h2 style=\"color: #cf1322; margin-top: 0; font-size: 22px; display: flex; align-items: center;\"> <span style=\"margin-right: 12px;\">\ud83d\udea8</span> Test Failure Alert </h2> <div style=\"background-color: #fff1f0; border: 1px solid #ffa39e; padding: 20px; border-radius: 6px; margin: 20px 0;\"> <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\"> <tr><td style=\"padding: 4px 0; color: #555; width: 120px;\"><strong>Product:</strong></td><td style=\"padding: 4px 0;\">' + $json.product + '</td></tr> <tr><td style=\"padding: 4px 0; color: #555;\"><strong>Test Script:</strong></td><td style=\"padding: 4px 0; color: #cf1322;\">' + $json.filename + '</td></tr> <tr><td style=\"padding: 4px 0; color: #555;\"><strong>Exit Code:</strong></td><td style=\"padding: 4px 0;\">' + $json.exitCode + '</td></tr> <tr><td style=\"padding: 4px 0; color: #555;\"><strong>Duration:</strong></td><td style=\"padding: 4px 0;\">' + $json.duration + '</td></tr> <tr><td style=\"padding: 4px 0; color: #555;\"><strong>Timestamp:</strong></td><td style=\"padding: 4px 0;\">' + $json.timestamp + '</td></tr> </table> </div> <h3 style=\"font-size: 16px; color: #333; margin-top: 24px;\">Error Details:</h3> <div style=\"background-color: #f5f5f5; border: 1px solid #d9d9d9; padding: 16px; border-radius: 6px; overflow-x: auto; margin-top: 12px;\"> <pre style=\"font-family: \\'Courier New\\', monospace; font-size: 13px; line-height: 1.5; margin: 0; color: #444;\">' + ($json.stderr || $json.stdout || 'No error details captured').replace(/[\\u001b\\u009b][[\\]()#;?]*(?:(?:(?:[a-zA-Z\\\\d]*(?:;[-a-zA-Z\\\\d\\/#&.:=?%@~_]*)*)?\\u0007)|(?:(?:\\d{1,4}(?:;\\d{0,4})*)?[\\dA-PR-TZcf-ntqry=><~]))/g, '') + '</pre> </div> <div style=\"margin-top: 32px; padding-top: 16px; border-top: 1px solid #f0f0f0; font-size: 12px; color: #8c8c8c; text-align: center;\"> Generated by QAutoX Automation Suite </div> </div> </div>' }}"
            },
            "id": "gmail_alert",
            "name": "Gmail Alert",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1950,
                100
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst resultsDir = 'C:/Users/veeramani/.gemini/antigravity/scratch/Automation Workflow/temp_results';\nconst lockFile = path.join(resultsDir, 'summary.lock');\n\nif (fs.existsSync(lockFile)) return { json: { alreadySent: true } };\nif (fs.readdirSync(resultsDir).length === 0) return { json: { alreadySent: false, totalFiles: 0 } };\nfs.writeFileSync(lockFile, 'locked');\n\nconst files = fs.readdirSync(resultsDir).filter(f => f.startsWith('test_') && f.endsWith('.json'));\nlet totalFiles = 0, passedFiles = 0, totalCases = 0, passedCases = 0, totalDuration = 0, product = 'ERP';\nlet failures = [];\nlet allTestCases = [];\n\nfiles.forEach(file => {\n  try {\n    const data = JSON.parse(fs.readFileSync(path.join(resultsDir, file)));\n    totalFiles++; \n    if (data.exitCode === 0) passedFiles++;\n    else failures.push(data.filename);\n    \n    if (data.testCases && Array.isArray(data.testCases)) {\n      allTestCases = allTestCases.concat(data.testCases.map(tc => ({ ...tc, file: data.filename })));\n    }\n    \n    const fileTotal = (data.stats ? data.stats.total : 0);\n    const filePassed = (data.stats ? data.stats.passed : 0);\n    \n    totalCases += (fileTotal || 0);\n    passedCases += (filePassed || 0);\n    \n    product = data.product || product;\n    const d = parseFloat(data.duration || '0');\n    if (!isNaN(d)) totalDuration += d;\n  } catch (e) {}\n});\n\nif (totalCases < passedCases) totalCases = passedCases;\nconst failedCases = Math.max(0, totalCases - passedCases);\n\nlet testCaseReport = allTestCases.map(tc => `${tc.status === 'passed' ? '✅' : '❌'} ${tc.title} (${tc.file})`).join('\\n');\nif (testCaseReport.length > 2000) testCaseReport = testCaseReport.substring(0, 1997) + '...';\n\nreturn { json: {\n  alreadySent: false, \n  totalFiles,\n  passedFiles,\n  totalCases,\n  passedCases,\n  failedCases,\n  failedFilesList: failures.length > 0 ? failures.join(', ') : 'None',\n  product, \n  successRate: totalCases > 0 ? ((passedCases/totalCases)*100).toFixed(2) + '%' : '0.00%',\n  totalDuration: totalDuration.toFixed(2) + 's',\n  testCaseReport: testCaseReport || 'No test cases recorded.',\n  timestamp: new Date().toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' })\n} };"
            },
            "id": "generate_summary",
            "name": "Generate Summary Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.alreadySent }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check_lock",
            "name": "Already Sent?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.googleapis.com/v1/spaces/AAQA7T2tWaY/messages?key=[REDACTED_GEMINI_KEY]&token=C0TOQS1FN_tbUfIeUHwat0Zwa9UXylCX97CKTIO4PKI",
                "sendBody": true,
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ '*' + $json.product + ' Full Suite Summary*\\n\\n' + '📅 *Date:* ' + $json.timestamp + '\\n' + '✅ *Passed:* ' + $json.passedCases + '\\n' + '❌ *Failed:* ' + $json.failedCases + '\\n' + '🎯 *Success Rate:* ' + $json.successRate + '\\n\\n*🧪 Detailed Test Report:*\\n' + $json.testCaseReport }}"
                        }
                    ]
                }
            },
            "id": "chat_summary",
            "name": "Google Chat Summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1450,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst data = $('Generate Summary Report').item.json;\nconst reportDir = 'C:/Users/veeramani/.n8n-files';\nif (!fs.existsSync(reportDir)) fs.mkdirSync(reportDir, { recursive: true });\n\nconst rows = (data.testCaseReport || '').split('\\n').map(line => {\n    const status = line.includes('✅') ? 'passed' : 'failed';\n    const parts = line.replace('✅ ', '').replace('❌ ', '').split(' (');\n    const title = parts[0];\n    const file = parts[1] ? parts[1].replace(')', '') : 'N/A';\n    return `<tr><td>${title}</td><td><code>${file}</code></td><td><span class=\"status ${status}\">${status}</span></td></tr>`;\n}).join('');\n\nconst htmlContent = `\n<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>${data.product} Report</title>\n<style>body { font-family: sans-serif; background: #f4f7f9; padding: 20px; }\n.container { max-width: 900px; margin: auto; background: white; padding: 30px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); }\ntable { width: 100%; border-collapse: collapse; margin-top: 20px; } th, td { padding: 12px; text-align: left; border-bottom: 1px solid #eee; }\n.status { padding: 4px 10px; border-radius: 20px; font-size: 0.8em; font-weight: bold; }\n.status.passed { background: #e8f5e9; color: #2e7d32; }.status.failed { background: #ffebee; color: #c62828; }</style></head>\n<body><div class=\"container\"><h2>🚀 ${data.product} Automation Summary</h2>\n<p><b>Total Files:</b> ${data.totalFiles} | <b>Passed:</b> ${data.passedCases} | <b>Failed:</b> ${data.failedCases} | <b>Duration:</b> ${data.totalDuration}</p>\n<table><thead><tr><th>Test Title</th><th>File</th><th>Status</th></tr></thead><tbody>${rows}</tbody></table></div></body></html>`;\n\nconst binaryData = await this.helpers.prepareBinaryData(Buffer.from(htmlContent), `Full_Suite_Report_${Date.now()}.html`, 'text/html');\nreturn [{ json: { ...data, emailBody: htmlContent }, binary: { data: binaryData } }];"
            },
            "id": "write_report",
            "name": "Write HTML Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1650,
                450
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "email": "veeramani.b@algosium.com",
                "subject": "={{ \"\ud83d\udcca \" + $json.product + \" Automation Full Suite Report\" }}",
                "emailType": "html",
                "message": "={{ $json.emailBody }}",
                "attachmentsUi": {
                    "attachmentsValues": [
                        {
                            "binaryPropertyName": "data"
                        }
                    ]
                }
            },
            "id": "gmail_summary",
            "name": "Gmail Summary",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1900,
                450
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Select Product",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Product": {
            "main": [
                [
                    {
                        "node": "Find Product Test Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Product Test Files": {
            "main": [
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Test Loop": {
            "main": [
                [
                    {
                        "node": "Run Playwright Test",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Generate Summary Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Playwright Test": {
            "main": [
                [
                    {
                        "node": "Google Chat Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Chat Notification": {
            "main": [
                [
                    {
                        "node": "Save Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Result": {
            "main": [
                [
                    {
                        "node": "If Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Failed": {
            "main": [
                [
                    {
                        "node": "Gmail Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Alert": {
            "main": [
                [
                    {
                        "node": "Test Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Summary Report": {
            "main": [
                [
                    {
                        "node": "Already Sent?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Already Sent?": {
            "main": [
                [],
                [
                    {
                        "node": "Google Chat Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Chat Summary": {
            "main": [
                [
                    {
                        "node": "Write HTML Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Write HTML Report": {
            "main": [
                [
                    {
                        "node": "Gmail Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}